Source: ci-shell-scripts
Section: unknown
Priority: important
Maintainer: Bernardo Martínez Garrido <programming@wandrell.com>
Standards-Version: 3.9.4
Homepage: https://github.com/Bernardo-MG/ci-shell-scripts

Package: ci-shell-scripts
Architecture: all
Description: Various scripts to ease continuous integration